@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root{
--Blue-500: hsl(215, 51%, 70%);
--Cyan-400: hsl(178, 100%, 50%);
--Blue-950-main : hsl(217, 54%, 11%);
--Blue-900-card : hsl(216, 50%, 16%);
--Blue-800-line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: "Outfit", sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: var(--Blue-950-main);    
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    background-color: var(--Blue-900-card);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 1.2rem;
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    color: var(--White);

}

.image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}


.image img{
    width: 100%;
    z-index: 1;
}

.container h1{
    font-size: 1rem;
    margin: 1rem 0;
    cursor: pointer;
}

.container h1:hover{
    color: var(--Cyan-400);
}


.overlay{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 255, 247,0);
    cursor: pointer;
    z-index: 2;
    transition: all ease-in-out 0.1s;
}

.overlay img{
    width: 50px;
    z-index: 2;
    visibility: hidden;
}

.overlay:hover{
    background-color: rgba(0, 255, 247,0.5);
}
.overlay:hover img{
    visibility: visible;
}


p{
    color: var(--Blue-500);
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}


.priceing{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--Blue-800-line);
    padding-bottom: 1.2rem;
}

.price{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Cyan-400);
    font-size: 0.8rem;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Blue-500);
    font-size: 0.8rem;
}

.price img{
    margin: 0 0.4rem 0 0;
    height: 12px;
}
.time img{
    margin: 0 0.4rem 0 0;
    height: 12px;
}



.author{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8rem;
    margin: 1rem 0 0 0;
    color: var(--Blue-500);
}

.author img{
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 0.8rem 0 0;
}

.author span{
    margin:0 0 0 0.2rem ;
    color: var(--White);
}